body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    background-color:#AAD4CF
}
/* adds background color, seems to be one color only */
html, body {
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color:#D4E9E7;
    padding: 10px;

}


/* cant make the buttons to center on the page, it may be something cascading */
h1{
    position: absolute;
    top: 30%;
    width: 100%;
    color: white;
    text-align: center;  
  }
.header_img{
    position: relative;
    max-width: 8000px;
    margin: 0 auto;
  }
img{
    width: 100%;
  }


.nav_menu {
    overflow: hidden;
    width: 800px;
    margin: auto;
  }

.nav_menu a {
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
  }


/* guessed the width of the image to be 200px dont know how to messure it */
.side_img {
    width: 200px;
    float: left;
    margin: 0 10px 0 0;
}


  nav ul li {
    display: inline;
    padding: 8px;
  }

  nav ul li {
    list-style: none;
    text-decoration: none;
    font-size: 22px;
}
/* removed the text decorations of the nav menu and cascade it to all the rest */
nav ul li {
    text-decoration: none;
}

textarea
{
  width:100%;
}
/* pretty sure I am missing something to make the border be responsive with the text fields */
.contact_form {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
} 

.list {
    list-style-type: circle;
}

footer {
    text-align: right;
}
