/************************************* 
                Custom Styles
 *************************************/
/*********** Global Styles ***********/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(243, 244, 246);
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/************************************* 
                Mobile Styles
 *************************************/

.master-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #c78c06;
}

.main-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 15px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
}

.search-bar {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}


.services-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

/* Media query for mobile screens */

@media screen and (max-width: 760px) {
    .services-section {
        grid-template-columns: 1fr;
    }
}

/* main overlay */

.main-banner {
    position: relative;
    background-image: url('../images/images/main-banner.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.main-banner h1,
.main-banner p,
.main-banner .btn {
    z-index: 2;
}

/* end of overlay */



.master-head {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #c78c06;
    z-index: 1;
}


.main-nav {
    display: flex;
    align-items: center;
}


.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 15px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
}

.search-bar {
    margin-left: auto;
    /* Push the search bar to the right */
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.btn {

    display: inline-block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #c78c06;
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;

}




/************************* *************************************
                        WELCOME SECTION 
****************************************************************/

.main-banner {
    background-image: url(../images/images/main-banner.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: left;
    padding: 50px;
}

.main-banner h1 {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.main-banner p {
    font-size: 1.125rem;
    line-height: 1.75;
    margin-bottom: 20px;
}

.main-banner {
    position: relative;
    background-image: url(../images/images/main-banner.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 50px;
}

.overlay-square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 6);
}


.main-banner h1,
.main-banner p {
    position: relative;
    z-index: 1;
}

section {
    margin-bottom: 20px;
}



/************************* *************************************
                        WELCOME SECTION ENDS 
****************************************************************/





/************************* *************************************
                        ABOUT US SECTION 
****************************************************************/
.about-us-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns, each taking half of the container */
    background-color: #ffe6ac;
    padding: 20px;
    gap: 20px;
}

.about-us-section img {
    max-width: 100%;
    /* Ensure the image doesn't exceed its container */
    height: auto;
    /* Maintain the aspect ratio of the image */
}

.about-us-section h2 {
    font-size: 2rem;
}

.about-us-section p {
    font-size: 1rem;
}

/************************* *************************************
                        ABOUT US SECTION ENDS 
****************************************************************/





/************************* *************************************
                        SERVICES SECTION 
****************************************************************/
.services-section {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    /* Three rows, each with equal height */
    grid-template-columns: repeat(6, 1fr);
    /* Six columns, each with equal width */
    gap: 20px;
}

.services-item {
    grid-row: span 1;
    /* Each item spans one row */
    grid-column: span 2;
    /* Each item spans two columns */
}

.services-item img {
    width: 100%;
    height: auto;
}

.services-item-content {
    padding: 10px;
    background-color: #fff;
}


.services-section {
    background-color: rgb(255, 255, 255);
}

.services-section h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: rgb(31, 41, 55);
}

.services-item {
    margin-bottom: 2rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.services-item-container {
    border-radius: 0.25rem;
    background-color: rgb(209, 213, 219);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0, 0, 0, 0.1), 0 1px 2px -1px rgb(0, 0, 0, 0.1);
}

.services-item img {
    height: 12rem;
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    object-fit: cover;
}

.services-item-content {
    padding: 1rem;
}

.services-item-content h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.services-item-content p {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(75, 85, 99);
}

.services-item-content a {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(202, 138, 4);
}

/************************* *************************************
                        SERVICES SECTION END
****************************************************************/


/************************* *************************************
                        VISION SECTION 
****************************************************************/

.vision-section {
    position: relative;
    height: 25vh;
    /* 100% of the viewport height */
    background-image: url('../images/images/vision.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vision-section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vision-section h2,
.vision-section p,
.vision-section a {
    margin: 10px;
}

.vision-section img {
    display: none;


}

.vision-section a {
    color: #000000;
}

.vision-section img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}


.vision-section h2,
.vision-section p,
.vision-section a {
    margin: 10px;
}

/************************* *************************************
                        SERVICES SECTION ENDS
****************************************************************/

/************************* *************************************
                        TEAM SECTION 
****************************************************************/


.team-section-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-member-content {
    display: flex;
    flex-direction: column;
    background-color: #ffe6ac;
}

.team-member img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Alternate the order for every even team-member */
.team-member:nth-child(even) .team-member-content {
    order: 1;
}

.team-member:nth-child(even) img {
    order: -1;
}

/************************* *************************************
                        TEAM SECTION ENDS 
****************************************************************/


/************************* *************************************
                        CONTACT SECTION 
****************************************************************/
.contact-section-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.contact-form,
.location-section {
    padding: 20px;
}


.contact-form h2,
.location-section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.map-container {
    overflow: hidden;
}


.form-group {
    margin-bottom: 15px;
}

.form-control,
.form-control-textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.submit-button {
    background-color: #c78c06;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/************************* *************************************
                        CONTACT SECTION ENDS 
****************************************************************/



/************************* *************************************
                    HOURS OF OPERATION SECTION 
****************************************************************/
/* make a table in css or in html? */

.hours-of-operation-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Two columns with equal width */
    gap: 10px;
}

.hours-column {
    border: 1px solid #000000;
    padding: 10px;
}

.hours-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hours-list li {
    margin-bottom: 5px;
}

/************************* *************************************
                HOURS OF OPERATION SECTION ENDS
****************************************************************/



/************************* *************************************
                        FOOTER SECTION 
****************************************************************/


.footer {
    background-color: rgb(31, 41, 55);
    color: rgb(255, 255, 255);
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    margin-bottom: 1rem;
}